/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

i{
    margin-right: 10px;
}

.ng-dirty.ng-invalid:not(form){
    border-right: 5px solid red;
}

.ng-valid:not(form){
    border-right:5px solid green;
} 

